---
import "../styles/global.css";
const pageTitle = "About Me";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>nikmaxott | {pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Posts</a>

    <h1>{pageTitle}</h1>
    <h2>... and why there's a second blog here</h2>

    <p>There are two reasons for this second site:</p>
    <ol>
      <li>the first is to show off my skills and play about with Astro</li>
      <li>The second is to seperate my coding blogs from my creative ones</li>
    </ol>
    <p>Well this is fun</p>
  </body>
</html>
